<p>product-dashboard works!</p>
<br>
<br>
<div class="row">

  <div class="col-md-6">
    <app-product-widget [products]="salesProduct">
      <h3 class="header" #head>Up to 70% off | Electronics clearance store</h3>
      <p #head>Offer valid for today only...........</p>
      <a href="" class="link">visit store...</a>
    </app-product-widget>
  </div>

  <!-- <div class="col-md-6">
    <app-product-widget [products]="topProduct">
      <h3 class="header">Up to 70% off | Electronics clearance store</h3>
      <a href="" class="link">See more...</a>
    </app-product-widget>
  </div> -->

</div>



