<p>product-widget works! {{products.length}}</p>

<!-- <h1>Up to 70% off | Electronics clearance store</h1> -->
<div>

  <ng-content select=".header"></ng-content>
  <ol class="list-group list-group-numbered" *ngFor="let prod of products">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{prod.name}}</div>
        Content for list item
      </div>
      <span class="badge text-bg-primary rounded-pill">{{prod.price}}</span>
    </li>
  </ol>
  <ng-content select=".link"></ng-content>
</div>


